$ttfPath: './assets/icons/icons.ttf?sirizn';

@font-face {
  font-family: 'bf-icons';
  src: url($ttfPath) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.braft-finder{

  [class^="braft-icon-"], [class*=" braft-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bf-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .braft-icon-code:before {
    content: "\e903";
  }
  .braft-icon-pause:before {
    content: "\e034";
  }
  .braft-icon-play_arrow:before {
    content: "\e037";
  }
  .braft-icon-bin:before {
    content: "\e9ac";
  }
  .braft-icon-replay:before {
    content: "\e042";
  }
  .braft-icon-close:before {
    content: "\e913";
  }
  .braft-icon-music:before {
    content: "\e90e";
  }
  .braft-icon-camera:before {
    content: "\e911";
  }
  .braft-icon-file-text:before {
    content: "\e926";
  }
  .braft-icon-film:before {
    content: "\e91c";
  }
  .braft-icon-paste:before {
    content: "\e92d";
  }
  .braft-icon-spinner:before {
    content: "\e980";
  }
  .braft-icon-media:before {
    content: "\e90f";
  }
  .braft-icon-add:before {
    content: "\e918";
  }
  .braft-icon-done:before {
    content: "\e912";
  }
  .braft-icon-drop-down:before {
    content: "\e906";
  }
  .braft-icon-drop-up:before {
    content: "\e909";
  }
  .braft-icon-help:before {
    content: "\e902";
  }
  .braft-icon-info:before {
    content: "\e901";
  }
  .braft-icon-menu:before {
    content: "\e908";
  }
}